<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.group.name %></td>
        <td><%= link_to 'Show', group_user_path(@group, group_path(params[:group_id], @user)) %></td>
        <td><%= link_to 'Edit', edit_group_user_path(@group, @users) %></td>
        <td><%= link_to 'Destroy', group_user_path(@group, @users), method: :delete %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_group_user_path %>
