<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <% User.all.each do |i| %>
	<% if i.group.id.to_i == params[:id].to_i %>
		<%= i.name %>
		<br>
	<% end %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.group.name %></td>
        <td><%= link_to 'Show', group_user_path(params[:id]) %></td>
        <td><%= link_to 'Edit', edit_group_user_path(params[:id]) %></td>
        <td><%= link_to 'Destroy', group_user_path(params[:id]), method: :delete %></td>
<% end %>
  </tbody>
</table>

<%= link_to("New User", new_group_user_path(params[:id])) %> | 
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
